{% extends "fiche/fiche.html.twig" %}

{% block supprimer %}
<h2>Supprimer la fiche</h2>   
<p> Etes-vous certain de vouloir supprimer cette fiche ?</p>
<form action="{{ path('delete_action', {'id': formData.id}) }}" method="post">
    <a href="{{ path('fiche_affiche', {'id': formData.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
</form>
{% endblock %}
