{% extends "fiche/acceuil.html.twig" %}

{% block filtre %}
<form action="{{path('fiches_with_filtre')}} " method="post">
    <legend>filtrer par date</legend>
    <div class="form-group row" >
            <label for="date1" class="col-sm-1 col-form-label">Entre</label>
            <div style="max-width: 200px;">
                <input type="date" class="form-control" name="date1" id="date1" value={{date1}} >
            </div>
            <label for="date2" class="col-sm-1 col-form-label">et</label>
            <div style="max-width: 200px;margin-right:20px">
                <input type="date" class="form-control" name="date2" id="date2" value={{date2}} >
            </div>
        <input type="submit" class="btn btn-secondary" value="filtrer">
    </div>
</form><br>
{% endblock %}


{% block pagination %}
    <div class="pagination">
        {{ knp_pagination_render(fiches) }}
    </div>
{% endblock %}